<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/main.css">
	<title>Connect with me</title>
	<style>
			#contactImageDiv {	
				border-width: 2px;			
				width: 300px;
				margin: 0 auto;
				padding-top: 20px;
			}

			p {
				font-weight: bold; 
				color: #242424; 
				font-size: 110%; 
				font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
				text-align: center;
			}

			form {
				text-align: center;
			}

			#contactIconsDiv {
				padding-top: 15px;
				padding-bottom: 5px;
				text-align: center;
			}


			.contact {
				list-style-type: none;
				display: inline;
				padding-right: 30px;
			}
	</style>
</head>
<body>
	<header class="tbDivs1">
		<h1>Emir Fils-Aime</h1>
		<h2>Photographer | Cinematographer</h2>
	</header>
	<div class="nav">
		<ul class="wrapper">
			<li><a href="/">Home</a></li>
			<li><a href="#">work/Portfolio</a></li>
			<li><a href="/aboutme">Probe</a></li>
			<li><a href="/contact">Connect</a></li>
		</ul>
	</div>
	<div>
		<div id="contactImageDiv">
			<img src="/images/curiousJay.JPG"/>
		</div>
		<p style>
			Curious? Drop a line (or a few)
		</p>
		<form method="POST" action="">
			<textarea name="message" id="" cols="30" rows="10"></textarea><br>
			<input type="submit">
		</form>
	</div>
	<div>
		<ul id="contactIconsDiv">
			<li class="contact">
				<a href="https://vimeo.com/blntprobe"><img src="/images/vimeo.png" class="contactIcons"/></a>
			<li>
			<li class="contact">
				<a href="https://instagram.com/blntprobe/"><img src="/images/instagram.png" class="contactIcons"/></a>
			<li>
			<li class="contact">
				<a href="https://www.flickr.com/photos/132444732@N03/"><img src="/images/flickr.png" class="contactIcons"></a>
			</li>
		</ul>
	</div>
	</body>
	<footer class="tbDivs2">
		Emir Fils-Aime &copy; 2015
	</footer>
</body>
</html>