<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/main.css">
	<title>
		Emir F. | Imagemaker
	</title>
	<style>
		.mainImageDiv {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	<header class="tbDivs1">
		<h1>Emir Fils-Aime</h1>
		<h2>Photographer | Cinematographer</h2>
	</header>
	<div class="nav">
		<ul class="wrapper">
			<li><a href="/">Home</a></li>
			<li><a href="#">work/Portfolio</a></li>
			<li><a href="/aboutme">Probe</a></li>
			<li><a href="/contact">Connect</a></li>
		</ul>
	</div>
	<div class="mainImageDiv">
			<img src="/images/imitation.JPG"/>
		</div>
	<footer class="tbDivs2">
		Emir Fils-Aime &copy; 2015
	</footer>
</body>
</html>